@charset "UTF-8";

body {
	margin: 0 auto;
	width: 960px;
	padding: 0;
	font-size: 14px;
	font-family: 'Trebuchet MS', sans-serif;
}

a:link,
a:visited {
	color: silver;
}

a:hover,
a:active {
	color: #6377ED;
}

#form {
	text-align: left;
	padding: 1em;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	color: #38408B;
	background-color: #99ACDD;
	text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.word + .options {
	margin-left: 3em;
}

.options {
	display: inline-block;
	vertical-align: top;
	margin-left: 2em;
}

.option:hover {
	background: #DAE1F0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.option {
	white-space: nowrap;
}

.option input {
	display: inline-block;
	margin: 0.25em 0.5em;
}

.option label {
	display: inline-block;
	padding: 0.25em 1em 0.25em 0.5em;
}

.word {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}

.word input {
	background: #fff;
	-moz-box-shadow: 0 1px 3px #ddd inset;
	box-shadow: 0 1px 3px #ddd inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	font-size: 160%;
	padding: 0.25em;
	margin: 0.25em 0;
	vertical-align: middle;
	width: 15em;
}

.word input:focus {
	color: #3545AF;
}

.word button {
	background: #ddd;
  background: -moz-linear-gradient(90deg, #c7c7c7, #eeeeee);
	-moz-box-shadow: 0 1px 5px #4864B1;
	box-shadow: 0 1px 5px #4864B1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0.5em;
	margin: 0.25em 0 0.25em 0.25em;
	border: none;
	font-size: 130%;
	vertical-align: middle;
}

.word button:hover {
	background: #eee;
	background: -moz-linear-gradient(90deg, #dddddd, #ffffff);
}

.word button:active {
	background: #ccc;
	background: -moz-linear-gradient(90deg, #cccccc, #bbbbbb);
	-moz-box-shadow: 0 1px 3px #4864B1 inset;
	box-shadow: 0 1px 3px #4864B1 inset;
}

.word #error {
	margin: 0.2em 0 0 0;
	padding: 0;
	color: #c00;
}

.results {
	font-size: 80%;
	margin: 1em 0;
	border-spacing: 0;
	width: 100%;
}

.results col:nth-child(1),
.results col:nth-child(2) {
	width: 15%;
}

.results col:nth-child(3),
.results col:nth-child(4) {
	width: 35%;
}

.results th,
.results td {
	text-align: left;
	vertical-align: top;
}

.results th {
	font-size: 140%;
	line-height: 150%;
	font-weight: bold;
}

.results td {
	font-size: 160%;
	line-height: 120%;
	color: #a00;
	font-family: sans-serif;
}

.results tr.separated th,
.results tr.separated td {
	padding-top: 1em;
}

.results tr.separator td {
	padding-top: 1em;
	border-bottom: solid 2px #000;
}

.blocks .result {
	display: block;
	margin: 0.5em 0;
	padding: 0.5em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #ccc;
}

.blocks .result.basic {
	background: #eee;
}

.blocks .result.rare {
	color: #aaa;
}

.blocks .result span {
	display: inline-block;
	vertical-align: middle;
	margin: 0.15em 0;
	line-height: 200%;
	width: 40%;
}

.blocks .result div {
	display: inline-block;
	vertical-align: middle;
	font-size: 160%;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	margin-left: 0.75%;
}

.column:first-child {
	margin-left: 0;
}

.disclaimer.alpha-version {
	color: #fff;
	background: #e00;
	padding: 0.5em;
}

.disclaimer a {
	color: #fff;
}
